@media screen and (max-width:500px) {
    .names  {
        width:100%;
     font-size: 13px;
    }
    .hero{
        width: auto;
    }
    .bttexpalin{
        font-size: 12px;
    }
    .about{
        font-size: 14px;
    }
    .aboutbox{
        margin-top: 10px;
    }
 
  }
@media screen and (min-width:501px) {
    .hero{
        width: 80%;
    }
    .names{
        font-size: 20px;
    }
    .bttexpalin{
        font-size: 18px;
    }
    .about{
        font-size: 18px;
    }
    .aboutbox{
        margin-top: 40px;
    }
  }
  
  


.hero {
    background-color: var(--overlay);
    /* width: 80%; */
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
 margin-top: 100px;
 text-align: center;

}

 .content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin: auto;
    padding: 1rem;
    width: 75%;
}

.hero .button {
    margin: 1rem 0;
    width: 300px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #333;
}

.hero .button:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}











